<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>user1::list</title>
</head>
<body>
<h3>user2 목록</h3>
<a th:href="@{/}">처음으로</a>
<a th:href="@{/user3/register}">등록하기</a>
<table border="1">
  <tr>
    <th>아이디</th>
    <th>이름</th>
    <th>생년월일</th>
    <th>나이</th>
    <th>관리</th>
  </tr>
  <tr th:each="user:${user3DTOS}">
    <td>[[${user.uid}]]</td>
    <td>[[${user.name}]]</td>
    <td>[[${user.birth}]]</td>
    <td>[[${user.age}]]</td>
    <td>
      <a th:href="@{/user3/modify(uid=${user.uid})}">수정</a>
      <a th:href="@{/user3/delete(uid=${user.uid})}">삭제</a>
    </td>
  </tr>

</table>
</body>
</html>